In [2]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
%matplotlib inline

In [3]:
# Load .env enviroment variables
load_dotenv('.env')

True

In [7]:
import yfinance as yf
stock = '^GSPC'
sp_500_df = yf.download(stock,'2020-01-03', '2020-10-02')
sp_500_df = pd.DataFrame(df)
sp_500_df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3234.850098,3461290000
2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3246.280029,3674070000
2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3237.179932,3420380000
2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3253.050049,3720890000
2020-01-09,3266.030029,3275.580078,3263.669922,3274.699951,3274.699951,3638390000

In [8]:
stock = '^BVSP'
brazil_df = yf.download(stock,'2020-01-03', '2020-10-02')
brazil_df = pd.DataFrame(df)
brazil_df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3234.850098,3461290000
2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3246.280029,3674070000
2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3237.179932,3420380000
2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3253.050049,3720890000
2020-01-09,3266.030029,3275.580078,3263.669922,3274.699951,3274.699951,3638390000

In [9]:
stock = '^BSESN'
india_df = yf.download(stock,'2020-01-03', '2020-10-02')
india_df = pd.DataFrame(df)
india_df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3234.850098,3461290000
2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3246.280029,3674070000
2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3237.179932,3420380000
2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3253.050049,3720890000
2020-01-09,3266.030029,3275.580078,3263.669922,3274.699951,3274.699951,3638390000