In [40]:
import pandas as pd
from pathlib import Path

In [41]:
#India_csv = Path("Vanguard-Group/India Cases Covid.csv")
India_csv = Path('C:/Users/14259/Desktop/Kevin/UW/FinTech-Bootcamp/homework/Vanguard-Group/India Cases Covid.csv')
#India_coronavirus_data = pd.read_csv(India_csv, index_col = 'Date', parse_dates = True, infer_datetime_format = True)
India_coronavirus_data.head()

            India Deaths  India Confirmed
Date
2020-01-30             0                1
2020-01-31             0                1
2020-01-02             0                2
2020-02-02             0                3
2020-03-02             0                3

In [42]:
df = India_coronavirus_data

In [43]:
#df.drop(columns = ['Sno','Time','State/UnionTerritory','ConfirmedIndianNational','ConfirmedForeignNational','Cured'], inplace = True)
df['Date'] = dateo

KeyError: "['Sno' 'Time' 'State/UnionTerritory' 'ConfirmedIndianNational'\n 'ConfirmedForeignNational' 'Cured'] not found in axis"

In [26]:
df.rename(columns={'Deaths' : 'India Deaths', 'Confirmed' : 'India Confirmed'}, inplace = True)

In [28]:
df.isnull().sum()

India Deaths       0
India Confirmed    0
dtype: int64

In [35]:
df.groupby(by=df.index)

In [37]:
df = df.groupby([df.index]).sum()
df.head()

            India Deaths  India Confirmed
Date
2020-01-02             0                2
2020-01-03             0                3
2020-01-04            41             1834
2020-01-05          1152            34972
2020-01-06          5394           190535

In [38]:
df

            India Deaths  India Confirmed
Date
2020-01-02             0                2
2020-01-03             0                3
2020-01-04            41             1834
2020-01-05          1152            34972
2020-01-06          5394           190535
...                  ...              ...
2020-12-05          2293            70756
2020-12-06          8498           297535
2020-12-07         22674           849553
2020-12-08         46091          2329638
2020-12-09         77472          4659984

[244 rows x 2 columns]